<form action="/upload" enctype="multipart/form-data" method="post">
  <label for="file">Upload an XMind file:</label>
  <input name="file" type="file" id="file">
  <input type="submit" class="btn btn-primary" value="Submit">
</form>
