<!doctype html>
<html>
    <head>
      <title>D3 Mind</title>
      <meta charset="utf-8" />
      <script src="/js/queue.v1.js"></script>
      <script src="/js/d3.v3.js"></script>
      <script src="/js/underscore-min.js"></script>

      <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />
    </head>
    <body>
      <%= content %>
    </body>
</html>
